# Task 5

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder 

data = pd.read_csv(r'D:\Machine Learning by cellula\Task4\final_internship_data.csv')
columns_to_encode = ['Car Condition', 'Weather', 'Traffic Condition']
data_mod = data.drop(columns=['User ID','User Name','Driver Name','pickup_datetime','key'])
data_mod.head()

,Car Condition,Weather,Traffic Condition,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hour,...,month,weekday,year,jfk_dist,ewr_dist,lga_dist,sol_dist,nyc_dist,distance,bearing
0,Very Good,windy,Congested Traffic,4.5,-1.288826,0.710721,-1.288779,0.710563,1,17,...,6,0,2009,20.265840,55.176046,14.342611,34.543548,27.572573,1.030764,-2.918897
1,Excellent,cloudy,Flow Traffic,16.9,-1.291824,0.710546,-1.291182,0.711780,1,16,...,1,1,2010,44.667679,31.832358,23.130775,15.125872,8.755732,8.450134,-0.375217
2,Bad,stormy,Congested Traffic,5.7,-1.291242,0.711418,-1.291391,0.711231,2,0,...,8,3,2011,43.597686,33.712082,19.865289,17.722624,9.847344,1.389525,2.599961
3,Very Good,stormy,Flow Traffic,7.7,-1.291319,0.710927,-1.291396,0.711363,1,4,...,4,5,2012,42.642965,32.556289,21.063132,15.738963,7.703421,2.799270,0.133905
4,Bad,stormy,Congested Traffic,5.3,-1.290987,0.711536,-1.290787,0.711811,1,7,...,3,1,2010,43.329953,39.406828,15.219339,23.732406,15.600745,1.999157,-0.502703

# Encoding of some data

In [26]:
encoded_data = pd.get_dummies(data_mod, columns=columns_to_encode)
encoded_data.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hour,day,month,weekday,...,Car Condition_Good,Car Condition_Very Good,Weather_cloudy,Weather_rainy,Weather_stormy,Weather_sunny,Weather_windy,Traffic Condition_Congested Traffic,Traffic Condition_Dense Traffic,Traffic Condition_Flow Traffic
0,4.5,-1.288826,0.710721,-1.288779,0.710563,1,17,15,6,0,...,False,True,False,False,False,False,True,True,False,False
1,16.9,-1.291824,0.710546,-1.291182,0.711780,1,16,5,1,1,...,False,False,True,False,False,False,False,False,False,True
2,5.7,-1.291242,0.711418,-1.291391,0.711231,2,0,18,8,3,...,False,False,False,False,True,False,False,True,False,False
3,7.7,-1.291319,0.710927,-1.291396,0.711363,1,4,21,4,5,...,False,True,False,False,True,False,False,False,False,True
4,5.3,-1.290987,0.711536,-1.290787,0.711811,1,7,9,3,1,...,False,False,False,False,True,False,False,True,False,False

In [27]:
x = encoded_data.isnull()   #data nulling
print(x.sum())
encoded_data.describe() #describing data

fare_amount                            0
pickup_longitude                       0
pickup_latitude                        0
dropoff_longitude                      5
dropoff_latitude                       5
passenger_count                        0
hour                                   0
day                                    0
month                                  0
weekday                                0
year                                   0
jfk_dist                               5
ewr_dist                               5
lga_dist                               5
sol_dist                               5
nyc_dist                               5
distance                               5
bearing                                5
Car Condition_Bad                      0
Car Condition_Excellent                0
Car Condition_Good                     0
Car Condition_Very Good                0
Weather_cloudy                         0
Weather_rainy                          0
Weather_stormy                         0
Weather_sunny                          0
Weather_windy                          0
Traffic Condition_Congested Traffic    0
Traffic Condition_Dense Traffic        0
Traffic Condition_Flow Traffic         0
dtype: int64

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hour,day,month,weekday,year,jfk_dist,ewr_dist,lga_dist,sol_dist,nyc_dist,distance,bearing
count,500000.000000,500000.000000,500000.000000,499995.000000,499995.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,499995.000000,499995.000000,499995.000000,499995.000000,499995.000000,499995.000000,499995.000000
mean,11.358361,-1.265712,0.696740,-1.265755,0.696675,1.683428,13.510834,15.684206,6.268650,3.042008,2011.739132,385.279367,380.503657,363.843772,363.674038,355.991423,19.468775,0.297145
std,9.916617,0.206941,0.140909,0.205903,0.128997,1.307395,6.511571,8.681066,3.437815,1.949240,1.860889,2419.087483,2428.804740,2425.075903,2428.348683,2428.730839,367.299601,1.804548
min,-44.900000,-52.119764,-54.389440,-59.049665,-44.676047,0.000000,0.000000,1.000000,1.000000,0.000000,2009.000000,1.017646,1.460945,0.382119,0.532545,0.080500,0.000000,-3.141593
25%,6.000000,-1.291405,0.710958,-1.291393,0.710943,1.000000,9.000000,8.000000,3.000000,1.000000,2010.000000,41.341514,32.173712,17.100762,14.886989,7.147384,1.214550,-0.854721
50%,8.500000,-1.291226,0.711268,-1.291197,0.711277,1.000000,14.000000,16.000000,6.000000,3.000000,2012.000000,42.523163,34.787507,19.591554,18.347580,10.458151,2.116970,-0.050442
75%,12.500000,-1.290970,0.711520,-1.290908,0.711538,2.000000,19.000000,23.000000,9.000000,5.000000,2013.000000,43.785649,38.304502,22.214815,22.417812,14.448699,3.890070,2.206769
max,500.000000,37.360538,29.724576,0.712985,7.061893,6.000000,23.000000,31.000000,12.000000,6.000000,2015.000000,30133.067880,30167.595967,30167.285794,30159.407296,30162.285356,12399.956433,3.141593

In [28]:
data_mod = data_mod.dropna()
print(data_mod.isnull().sum())

Car Condition        0
Weather              0
Traffic Condition    0
fare_amount          0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
hour                 0
day                  0
month                0
weekday              0
year                 0
jfk_dist             0
ewr_dist             0
lga_dist             0
sol_dist             0
nyc_dist             0
distance             0
bearing              0
dtype: int64

In [29]:
# Check for columns with zero values
columns_with_zeros = (data == 0).any()

# Print columns with zeros
for column, has_zeros in columns_with_zeros.items():
    if has_zeros:
        print(f"Column '{column}' contains zero values.")
    else:
        print(f"Column '{column}' does not contain zero values.")

Column 'User ID' does not contain zero values.
Column 'User Name' does not contain zero values.
Column 'Driver Name' does not contain zero values.
Column 'Car Condition' does not contain zero values.
Column 'Weather' does not contain zero values.
Column 'Traffic Condition' does not contain zero values.
Column 'key' does not contain zero values.
Column 'fare_amount' contains zero values.
Column 'pickup_datetime' does not contain zero values.
Column 'pickup_longitude' contains zero values.
Column 'pickup_latitude' contains zero values.
Column 'dropoff_longitude' contains zero values.
Column 'dropoff_latitude' contains zero values.
Column 'passenger_count' contains zero values.
Column 'hour' contains zero values.
Column 'day' does not contain zero values.
Column 'month' does not contain zero values.
Column 'weekday' contains zero values.
Column 'year' does not contain zero values.
Column 'jfk_dist' does not contain zero values.
Column 'ewr_dist' does not contain zero values.
Column 'lga_dist' does not contain zero values.
Column 'sol_dist' does not contain zero values.
Column 'nyc_dist' does not contain zero values.
Column 'distance' contains zero values.
Column 'bearing' contains zero values.

In [30]:


columns_to_fill = ['fare_amount', 'pickup_longitude', 'pickup_latitude','dropoff_longitude','dropoff_latitude']  # Update with your specific columns

# Replace zeros with the mean of each column in the columns_to_fill list
for column in columns_to_fill:
    mean_value = data_mod[column][data_mod[column] != 0].mean()  # Calculate mean excluding zeros
    data_mod[column] = data_mod[column].replace(0, mean_value)  # Replace zeros with mean

# Display the first few rows of the updated DataFrame
print(data_mod.head())

  Car Condition Weather  Traffic Condition  fare_amount  pickup_longitude  \
0     Very Good   windy  Congested Traffic          4.5         -1.288826
1     Excellent  cloudy       Flow Traffic         16.9         -1.291824
2           Bad  stormy  Congested Traffic          5.7         -1.291242
3     Very Good  stormy       Flow Traffic          7.7         -1.291319
4           Bad  stormy  Congested Traffic          5.3         -1.290987

   pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count  \
0         0.710721          -1.288779          0.710563                1
1         0.710546          -1.291182          0.711780                1
2         0.711418          -1.291391          0.711231                2
3         0.710927          -1.291396          0.711363                1
4         0.711536          -1.290787          0.711811                1

   hour  ...  month  weekday  year   jfk_dist   ewr_dist   lga_dist  \
0    17  ...      6        0  2009  20.265840  55.176046  14.342611
1    16  ...      1        1  2010  44.667679  31.832358  23.130775
2     0  ...      8        3  2011  43.597686  33.712082  19.865289
3     4  ...      4        5  2012  42.642965  32.556289  21.063132
4     7  ...      3        1  2010  43.329953  39.406828  15.219339

    sol_dist   nyc_dist  distance   bearing
0  34.543548  27.572573  1.030764 -2.918897
1  15.125872   8.755732  8.450134 -0.375217
2  17.722624   9.847344  1.389525  2.599961
3  15.738963   7.703421  2.799270  0.133905
4  23.732406  15.600745  1.999157 -0.502703

[5 rows x 21 columns]

In [31]:
encoded_data = pd.get_dummies(data_mod, columns=columns_to_encode)
encoded_data.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hour,day,month,weekday,...,Car Condition_Good,Car Condition_Very Good,Weather_cloudy,Weather_rainy,Weather_stormy,Weather_sunny,Weather_windy,Traffic Condition_Congested Traffic,Traffic Condition_Dense Traffic,Traffic Condition_Flow Traffic
0,4.5,-1.288826,0.710721,-1.288779,0.710563,1,17,15,6,0,...,False,True,False,False,False,False,True,True,False,False
1,16.9,-1.291824,0.710546,-1.291182,0.711780,1,16,5,1,1,...,False,False,True,False,False,False,False,False,False,True
2,5.7,-1.291242,0.711418,-1.291391,0.711231,2,0,18,8,3,...,False,False,False,False,True,False,False,True,False,False
3,7.7,-1.291319,0.710927,-1.291396,0.711363,1,4,21,4,5,...,False,True,False,False,True,False,False,False,False,True
4,5.3,-1.290987,0.711536,-1.290787,0.711811,1,7,9,3,1,...,False,False,False,False,True,False,False,True,False,False

In [32]:
# def remove_outliers_zscore(data, threshold=3):
#     z_scores = np.abs((data - data.mean()) / data.std())
#     return data[(z_scores < threshold).all(axis=1)]

# # Remove outliers using Z-score method
# data_mod = remove_outliers_zscore(data_mod)

In [33]:
encoded_data = pd.get_dummies(data_mod, columns=columns_to_encode)
encoded_data.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hour,day,month,weekday,...,Car Condition_Good,Car Condition_Very Good,Weather_cloudy,Weather_rainy,Weather_stormy,Weather_sunny,Weather_windy,Traffic Condition_Congested Traffic,Traffic Condition_Dense Traffic,Traffic Condition_Flow Traffic
0,4.5,-1.288826,0.710721,-1.288779,0.710563,1,17,15,6,0,...,False,True,False,False,False,False,True,True,False,False
1,16.9,-1.291824,0.710546,-1.291182,0.711780,1,16,5,1,1,...,False,False,True,False,False,False,False,False,False,True
2,5.7,-1.291242,0.711418,-1.291391,0.711231,2,0,18,8,3,...,False,False,False,False,True,False,False,True,False,False
3,7.7,-1.291319,0.710927,-1.291396,0.711363,1,4,21,4,5,...,False,True,False,False,True,False,False,False,False,True
4,5.3,-1.290987,0.711536,-1.290787,0.711811,1,7,9,3,1,...,False,False,False,False,True,False,False,True,False,False

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor


X = encoded_data.drop(columns=['fare_amount','jfk_dist','ewr_dist','lga_dist','sol_dist','nyc_dist','pickup_latitude','dropoff_latitude','pickup_longitude','dropoff_longitude'])  # Replace 'target_column' with your actual target column
y = encoded_data['fare_amount']  # Replace 'target_column' with your actual target column

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the model
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

In [35]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Calculate metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Calculate normalized metrics
mean_actual = np.mean(y_test)
variance_actual = np.var(y_test)
nmae = (mae / mean_actual) * 100
nmse = (mse / variance_actual) * 100

# Print results
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (RÂ²): {r2}")
print(f"Normalized Mean Absolute Error (NMAE): {nmae}%")
print(f"Normalized Mean Squared Error (NMSE): {nmse}%")

Mean Absolute Error (MAE): 2.095054331979391
Mean Squared Error (MSE): 23.998133509396972
R-squared (RÂ²): 0.7578616354147095
Normalized Mean Absolute Error (NMAE): 18.34834995822182%
Normalized Mean Squared Error (NMSE): 24.21383645852905%